<ng-container *transloco="let t">
    <spiderly-card [title]="t('PatientDocument')" icon="pi pi-file-edit">

        <patient-document-base-details
        [formGroup]="formGroup" 
        [patientDocumentFormGroup]="patientDocumentFormGroup" 
        (onIsAuthorizedForSaveChange)="fieldChecked()"
        (onAllergicToMedicationOrSomethingForPatientDocumentChange)="fieldChecked()"
        (onHadBloodTransfusionForPatientDocumentChange)="fieldChecked()"
        (onHasAidsForPatientDocumentChange)="fieldChecked()"
        (onHasBeenInHospitalForPatientDocumentChange)="fieldChecked()"
        (onHasBleedingDisorderForPatientDocumentChange)="fieldChecked()"
        (onHasInfectiousDiseaseForPatientDocumentChange)="fieldChecked()"
        (onHasRadiationTherapyForPatientDocumentChange)="fieldChecked()"
        (onIsAgreedToTreatmentForPatientDocumentChange)="fieldChecked()"
        (onIsHivPositiveForPatientDocumentChange)="fieldChecked()"
        (onIsPatientUnhealthyForPatientDocumentChange)="fieldChecked()"
        (onIsPregnantForPatientDocumentChange)="fieldChecked()"
        (onIsTreatedByDoctorForPatientDocumentChange)="fieldChecked()"
        (onIsTreatedByDoctorForPatientDocumentChange)="fieldChecked()"
        (onTreatedUnderLocalAnesthesiaForPatientDocumentChange)="fieldChecked()"
        (onWantSixMonthTherapyMessageForPatientDocumentChange)="fieldChecked()"
        (onSave)="onSave()"
        [getCrudMenuForOrderedData]="getCrudMenuForOrderedData"
        />

    </spiderly-card>
</ng-container>